/*
 * Contains styles for the static "coming soon" page.
 */
@use "../variables" as vars;
@use "../modules/media" as media;
@use "../modules/animations" as animations;
@use "../modules/common" as common;

$heading-color: #1a180f;
$subheading-color: #383525;
$background-color: #F8F6F2;

body#landing-page {
    background-color: $background-color;
}

/*
 * Decoration
 */
#kolomon-decoration-container {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    width: 100%;
    overflow-x: hidden;
    z-index: -1;

    &.decoration-hidden {
        opacity: 0;
    }

    transition: opacity .2s animations.$ease-out-circ;
    opacity: 1;
}

@include media.im-media("<tablet-landscape", ">phone") {
    #kolomon-decoration-container {
        top: -30px;
        width: 200%;
        left: -50%;
    }
}

@include media.onlyPhone {
    #kolomon-decoration-container {
        width: 400%;
        top: -180px;
        opacity: 0.95;
    }
}


/*
 * Content
 */
@include media.tabletPortraitUp {
    #landing-page-container {
        margin-top: 200px;
    }
}

@include media.onlyPhone {
    #landing-page-container {
        margin-top: 80px;
    }
}

// Adds very very slight shimmering to the Kolomon icon after some delay.
$wobbleTransformIntensity: 0.75px;
$wobbleRotation: 0.2deg;
$wobbleRotationIntensity: 0.1;

@keyframes icon-wobble {
    0% {
        transform: none;
    }
    15% {
        transform: translate3d(0, $wobbleTransformIntensity, 0px) rotate3d(0, 0, -$wobbleRotationIntensity, $wobbleRotation) scale(1.002);
    }
    45% {
        transform: none;
    }
    75% {
        transform: translate3d(0, $wobbleTransformIntensity, 0) rotate3d(0, 0, $wobbleRotationIntensity, $wobbleRotation) scale(1.0035);
    }
    100% {
        transform: none;
    }
}

#landing-page-heading-container {
    @include common.flex-column-center();
}

#kolomon-icon-container {
    margin-bottom: 3rem;

    animation-name: icon-wobble;
    animation-iteration-count: infinite;
    animation-delay: 8s;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-fill-mode: both;
}

#kolomon-icon {
    width: 170px;
    height: auto;
}

#kolomon-heading {
    font-family: vars.$font-family-primary;
    font-size: 6rem;
    letter-spacing: -0.06em;
    color: $heading-color;
    margin-bottom: 0.5rem;
}

#kolomon-subheading {
    font-family: vars.$font-family-primary;
    font-style: italic;
    font-size: 2.4rem;
    letter-spacing: 0.01em;
    color: $subheading-color;
}

#kolomon-about {
    font-family: vars.$font-family-secondary;
    font-size: 1.8rem;

    p {
        text-indent: 0.8rem;
    }
}

@include media.im-media(">=laptop") {
    $laptopUpContainerSideMargin: 250px;

    #landing-page-container {
        margin-left: $laptopUpContainerSideMargin;
        margin-right: $laptopUpContainerSideMargin;
    }
}

@include media.im-media("<=phone") {
    #kolomon-heading {
        font-size: (6rem * 0.8);
    }

    #kolomon-subheading {
        font-size: (2.4rem * 0.8);
    }
}

/*
 * Sidebar
 */
$sidebarSlideDistance: 8px;
$distanceFromEdge: 40px;
$iconSize: 36px;
$iconDistanceBetween: 8px;

@keyframes sidebar-slide-in {
    0% {
        opacity: 0.1;
        right: -$sidebarSlideDistance;
    }
    100% {
        opacity: initial;
        right: 0;
    }
}

#landing-page-sidebar {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px $distanceFromEdge 48px 24px;

    animation-name: sidebar-slide-in;
    animation-timing-function: animations.$ease-in-out-cubic;
    animation-delay: .2s;
    animation-duration: .8s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

// Hide the sidebar on mobile (we show a normal chunk of text at the bottom instead).
@include media.onlyPhone {
    #landing-page-sidebar {
        display: none;
    }
}

.sidebar-link {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    text-decoration: none;

    padding: 6px 10px;
    background-color: transparent;
    cursor: default;

    transition: opacity .15s animations.$ease-out-cubic;
    opacity: 0.4;

    .description-container {
        padding: 4px 12px 4px 6px;
        pointer-events: none;
    }

    .description {
        padding: 4px 8px;
        opacity: 0;

        font-family: vars.$font-family-secondary;
        font-size: 1.6rem;
        font-weight: bold;

        // BEM Modifier, requires "description description--multiline".
        &--multiline {
            display: flex;
            flex-direction: column;
            align-items: end;
        }

        &__tiny {
            font-size: 1.2rem;
        }
    }

    .icon {
        display: block;
        width: $iconSize;
        height: $iconSize;
        cursor: pointer;
    }

    // Added dynamically when the icon is hovered over.
    &.active {
        cursor: pointer;
        opacity: 1;

        .description {
            color: vars.$body-text;
            opacity: 1;
        }

        .icon {
            opacity: 1;
        }
    }
}

@include media.onlyPhone {
    .sidebar-link {
        .description {
            font-size: 1.2rem;
        }
    }
}

// Add description borders to hover elements.
@include media.upToTabletLandscape {
    .sidebar-link {
        .description {
            border-radius: 3px;
            border: 2px solid transparent;
        }
    }

    .sidebar-link.active {
        .description {
            border: 2px solid transparentize(desaturate(vars.$primary-dark, 80%), 0.6);
            background-color: vars.$background-primary;
        }
    }
}

.sidebar-link:not(:first-of-type) {
    margin-top: $iconDistanceBetween;
}

/*
 * Special link section for small screens
 */
#landing-page-mobile-links {
    display: none;
}

.mobile-link {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    text-decoration: none;

    padding: 6px 10px;

    .mobile-link-description {
        padding: 4px 8px;
        font-family: vars.$font-family-secondary;
        font-size: 1.4rem;
        font-weight: bold;
        color: vars.$body-text;
        margin-left: 10px;

        &--multiline {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        &__tiny {
            font-size: 1.2rem;
        }
    }

    .mobile-link-icon {
        display: block;
        width: $iconSize;
        height: $iconSize;
        cursor: pointer;
    }
}

@include media.onlyPhone {
    #landing-page-mobile-links {
        display: initial;
        width: 100%;
        padding: 10px;

        .mobile-link {
            display: grid;

            &:not(:first-of-type) {
                margin-top: 20px;
            }
        }

        .mobile-link-icon {
            grid-column: 1 / span 1;
            justify-self: end;
        }

        .mobile-link-description-container {
            grid-column: 2 / span 3;
        }
    }
}
