/**
 * Store your colors, fonts, sizes and other important variables in this file.
 */


/////
// COLOURS
// Store your colours here.
/////

$background-primary: #F8F6F2;
$background-elevated: #FDFDFC;
$background-header: #F4F0EC;

$black: #000000;
$body-text: #282517;
$body-text-lighter: #555242;
$body-text-even-lighter: #777463;
$body-text-white: #FDFDFC;

// Mostly horizontal separators and such
$light-indicator: #BFBBA4;

// Also represents slovene words
$primary: #E39148;
$primary-dark: #C96E1D;
$primary-even-darker: #B3641E;

// Also represents english words
$secondary: #CCB43B;
$secondary-dark: #907E23;
$secondary-even-darker: #756515;

// Generic success or error colours
$success: #AED22C;
$error: #E64834;

// The header is slightly darker - elevated from the background
$header-background: #ECE7DF;
$header-background-darker: #D6C9B8;


$button-default-background: #CFCBC1;
$button-alt-background: #5D5C55;
$button-primary-background: #C86E1D;
$button-secondary-background: #8C7A22;

$link-blue: #0371D0;
$link-dark-blue: #2B4488;


/////
// FONTS
// Store your font choices here.
/////

// Based on GitHub's font stack
// More information: https://css-tricks.com/snippets/css/system-font-stack/
$font-family-native: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


$font-family-primary: "Libre Baskerville", serif;
$font-family-secondary: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
