<!doctype html>
<html lang="sl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Kolomon - slovenski fantazijski slovarček</title>
    <meta name="title" content="Kolomon - slovenski fantazijski slovarček">
    <meta name="description" content="Bodoči odprti slovenski fantazijski slovarček.">


    <!-- Favicon-related -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Social meta tags -->
    <meta property="og:title" content="Kolomon - slovenski fantazijski slovarček" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://stari-kolomoni.si/" />
    <meta property="og:image" content="https://stari-kolomoni.si/assets/kolomoni-web-card.png" />
    <meta property="og:image:alt" content="Kolomon, slovenski fantazijski slovarček" />
    <meta property="og:site_name" content="Kolomon">

    <meta name="twitter:title" content="Kolomon - slovenski fantazijski slovarček">
    <meta name="twitter:description" content="Bodoči odprti slovenski fantazijski slovarček.">
    <meta name="twitter:image" content="https://stari-kolomoni.si/assets/kolomoni-web-card.png">
    <meta name="twitter:image:alt" content="Kolomon, slovenski fantazijski slovarček">
    <meta name="twitter:card" content="summary_large_image">
</head>
<body id="landing-page">
    {# Barvita dekoracija v ozadju #}
    <div id="kolomon-decoration-container">
        {{ "src/assets/svg/kolomoni-landing-decoration.svg" | cat | safe }}
    </div>

    {# Prva stran - naslov in kratek opis #}
    <main class="container" id="landing-page-container">
        <div class="container__child center-horizontal mt25 p10">
            <div class="text-center" id="landing-page-heading-container">
                <div id="kolomon-icon-container">
                    <div id="kolomon-icon">{{ "src/assets/svg/kolomon-icon-v3.svg" | cat | safe }}</div>
                </div>
                <h1 id="kolomon-heading">Kolomon</h1>
                <div id="kolomon-subheading">slovenski fantazijski slovarček</div>
            </div>
            <div class="text-justify mt60" id="kolomon-about">
                <p>
                    Zrak zavibrira. Astralne taline se zasučejo in žarijo v čarni modri barvi. V mreži se pojavi
                    spletišče - komaj zaznavno se prelije v tvarni svet, a ostaja skrivnostno prazno.
                    Vsebina še čaka, oblikuje se, trga, mesi v končno obliko.
                </p>
                <p>
                    Vsak hip bo nared ... <i>in Stari Kolomoni bodo oživeli.</i>
                </p>
            </div>
        </div>

        {#
        <div class="container__child center-horizontal mt60 p10">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel mauris sem. Pellentesque efficitur sodales sem ut iaculis. Integer aliquet nibh ut tempor imperdiet. Quisque gravida purus ac dolor interdum congue. Proin laoreet bibendum magna, eget dignissim turpis semper sit amet. Donec eget nulla vel turpis convallis commodo vel at massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur enim massa, rutrum id nulla ac, consectetur finibus lorem. Nullam est ante, placerat sed condimentum et, placerat eu eros. Vivamus semper urna sit amet varius ullamcorper. Donec semper est sed odio mattis, et porta mauris ultrices. Ut nec enim libero. Etiam posuere, enim sed tempus dictum, erat risus mollis justo, vel tristique felis arcu sed turpis. Phasellus euismod finibus ultricies.
            </p>
            <p>
                Mauris quis tincidunt ex. Nunc ut mollis lacus. Suspendisse semper tempor mauris eget blandit. Integer non risus accumsan, fringilla purus ullamcorper, congue erat. In et nibh a sem mattis bibendum sed et lacus. Cras varius facilisis suscipit. In rhoncus lacus nec augue aliquet posuere. Ut vitae fermentum augue. Etiam sed dui elit. Etiam cursus, odio ut sodales interdum, lectus dui condimentum lectus, at feugiat turpis tellus in massa. Ut vehicula hendrerit tellus, a accumsan ante pretium nec. Ut rhoncus leo ante, et ornare libero molestie vel. Mauris ultricies quam vel risus tincidunt mollis. Nulla eleifend, felis vel lobortis dignissim, leo nulla finibus sem, ac varius elit sem vitae ipsum. Quisque scelerisque non lectus sit amet tempus. Nulla quis porta felis.
            </p>
            <p></p>
            <p></p>
        </div>
        #}
    </main>

    {# Seznam povezav na desni strani #}
    <aside id="landing-page-sidebar">
        <a href="https://github.com/stari-kolomoni" class="sidebar-link" id="sidebar-github">
            <div class="description-container">
                <span class="description">Spremljaj odprtokodni razvoj</span>
            </div>
            <span class="icon">{{ "src/assets/svg/icons/github-brands.svg" | cat | safe }}</span>
        </a>
        <a href="https://no.spam.thank.you" class="sidebar-link" id="sidebar-mail">
            <div class="description-container">
                <span class="description description--multiline">
                    <span>Kontakt</span>
                    <span class="item description__tiny">(stari.kolomoni AT gmail DOT com)</span>
                </sup>
            </div>
            <span class="icon">{{ "src/assets/svg/icons/envelope-solid.svg" | cat | safe }}</span>
        </a>
    </aside>
</body>
</html>
